* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    height: 100vh;
    width: 800px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: left;
}

#leftdesign {
    height: 100vh;
    width: 30px;
    background-color: rgb(17, 17, 17);
}

header {
    height: 150px;
    width: 770px;

    background-color: rgba(17, 17, 17, 0.1);
    line-height: 1.3;

    display: flex;
    justify-content: space-between;
}
    header #firstdivheader {
        display: flex;
        flex-direction: row;
    }
        header #firstdivheader div:nth-child(2) {
            padding: 15px 0 20px 0;
            font-size: 160%;
            line-height: 1.2;
        }
            header #firstdivheader div:nth-child(2) p {
                font-size: 60%;
            }
        header #firstdivheader img {
            margin-right: 30px;
            padding: 5px;
            max-height: 140px;
            max-width: 140px;
        }
    header #seconddivheader {
        padding: 15px 30px 15px 30px;
        max-width: 250px;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
        header #seconddivheader div {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        header i {
            margin-right: 5px;
            height: 15px;
            width: 15px;
            opacity: 0.3;
        }

#content p {
    padding: 0 20px 10px 20px;
}

#content h2 {
    margin: 10px;
    padding: 5px;
    width: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#profil {
    width: 770px;
}

#columns {
    display: flex;
    flex-direction: row;
}
    #firstcolumn {
        width: 300px;
    }
    #secondcolumn {
        width: 470px;
    }