* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/***SETTINGS***/
/*Button on the top-right of the screen to display settings panel*/
.settingsButton {
    padding: 4px;
    position: fixed;
    top: 15px;
    right: 0;

    font-size: 120%;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
} .settingsButton.animation {
    animation: settingsButtonAnimation 0.8s forwards;
}

/*Settings panel*/
.settings {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 0;
    height: 150px;
    position: fixed;
    right: 0;
    
    background-color: rgb(245, 245, 245);
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
} .settings.animation {
    animation: panelAnimation 0.8s forwards;
}
    /*FR/EN buttons*/
    .settings .languageButton {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
        .settings .languageButton button {
            margin: 5px;
            padding: 1px;
            width: 40%;
            height: 20px;
            cursor: pointer;
        }
            .settings .languageButton button:nth-child(1) {
                background-image: url(imgs/fr-flag.png);
                background-position: center;
                background-size: cover;
            }
            .settings .languageButton button:nth-child(2) {
                background-image: url(imgs/en-flag.png);
                background-position: center;
                background-size: cover;
            }

    /*Positions of color buttons*/
    .settings .colorButton {
        margin: 10px 0 10px 0;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-items: center;
        align-items: center;
    }
        /*Color settings*/
        .settings .colorButton button {
            margin: 5px;
            width: 30px;
            height: 30px;
            border: 1px solid black;
            border-radius: 50%;
            cursor: pointer;
        }
            .settings #gray {
                background-color: rgba(40, 40, 40, 0.8);
            }
            .settings #red {
                background-color: rgba(255, 0, 0, 0.8);
            }
            .settings #blue {
                background-color: rgba(0, 0, 255, 0.8);
            }
            .settings #beige {
                background-color: rgb(228, 201, 198, 0.8);
            }
            .settings #orange {
                background-color: rgb(255, 166, 0, 0.8);
            }
            .settings #purple {
                background-color: rgba(138, 43, 226, 0.8);
            }


/**Deisgn of leftside**/
#leftDesign {
    position: absolute;
    background-color: rgba(40, 40, 40, 0.97);
    transition: background 1s ease;
} @media all and (max-width: 600px) {
    #leftDesign {
        animation: leftanimation 2s forwards;
    }
}
    /*Image of myself on leftside*/
    #leftDesign #leftImg img {
        margin: 0 5% 10px 5%;
        padding-top: 10px;
        max-width: 90%;
        display: none;
    } 


/***CONTENT ON LEFT SIDE***/
#leftDesign {
    height: 100%;
}
.leftcontent {
    margin-top: 50px;
}
    /*Texts*/
    .leftcontent h2 {
        margin: 5px;
        margin-bottom: 10px;
        padding: 5px;
        color: white;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        text-align: center;
    } @media all and (max-width: 600px) {
        .leftcontent h2 {
            animation: leftanimation2 2s forwards;
        }
    }
        .leftcontent h2:nth-child(1) {
            margin-top: 0;
        }
    .leftcontent p {
        padding: 0 10px 10px 30px;
        color: white;
        word-wrap: break-word;
    }
    .leftcontent strong {
        padding: 0 10px 0 30px;
        color: white;
        font-size: 110%;
    }
    .leftcontent i {
        font-size: 115%;
    }

    /*Skills Button*/
    .leftcontent #skills {
        display: none;

    }
        #skills #hsButton {
            width: 80px;
            height: 25px;
            background-color: rgb(170, 170, 170);
            color: rgb(0, 0, 0);
            border: 0;
            border-right: 0.5px solid rgba(40, 40, 40, 0.97);
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            cursor: default;
        }
        #skills #ssButton {
            width: 80px;
            height: 25px;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            border: 0;
            border-left: 0.5px solid rgba(40, 40, 40, 0.97);
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            cursor: pointer;
        }
    /*Passions*/
    .leftcontent #passionsDiv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
        .leftcontent #passionsDiv div {
            margin: 5px 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        #passionsDiv p {
            padding: 0;
            padding-left: 10px;
        }
    /*Lists on leftside*/
    .leftcontent ul {
        padding: 0 10px 10px 30px;
    }
        .leftcontent ul li {
            padding-bottom: 7px;
            color: white;
            line-height: 1.2;
        }
    /*Links*/
    .leftcontent a {
        text-decoration: none;
    }
    .leftcontent #links {
        margin-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
        .leftcontent #links i {
            font-size: 150%;
        }
        .leftcontent #links p {
            padding: 0;
        }


/***HEADER***/
header {
    width: 100%;
    background: linear-gradient(0deg, white, rgba(17, 17, 17, 0.1) 5%, rgba(17, 17, 17, 0.2) 25%, rgba(17, 17, 17, 0.4));
    line-height: 1.3;

    display: flex;
    flex-direction: column;
    align-items: center;
}
header #headerTop {
    -webkit-transition: background 1s linear;
    -moz-transition: background 1s linear;
    -o-transition: background 1s linear;
    transition: background 1s linear;
}
    /*Button to display leftside bar on mobile*/
    header .button {
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 170%;
        cursor: pointer;
        transition: all 0.25s ease;
    }
    header .buttonx {
        position: absolute;
        top: 15px;
        left: 55%;
        font-size: 170%;
        cursor: pointer;
        transition: all 1s ease-in-out;
    }

    header #headerImg img {
        margin: 0 20% 0 20%;
        width: 60%;
    }

    /*Div with names*/
    header #firstDivHeader {
        padding: 25px 0 20px 0;
        display: flex;
        flex-direction: row;
    }
        header #firstDivHeader div {
            font-size: 160%;
            line-height: 1.2;
        }
            header #firstDivHeader div p {
                font-size: 70%;
            }
    
    /*Div with important personnal infos*/
    header #secondDivHeader {
        padding: 15px 25px 30px 25px;
        max-width: 300px;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
        header #secondDivHeader div {
            padding: 5px 0 5px 0;
            border-top: 1px solid rgb(20, 20, 20);
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        header #secondDivHeader #adress,#email,#phone:hover {
            cursor: pointer;
        }
        header #secondDivHeader a {
            text-decoration: none;
            color: black;
        }
            /*Icons*/
            header i {
                margin-right: 5px;
                width: 15px;
                height: 15px;
            }
        

/***IMPORTANT CONTENT ON RIGHT SIDE***/
.content h2 {
    margin: 10px;
    padding: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.content p {
    padding: 0 20px 10px 20px;
    word-wrap: break-word;
}
/*Box-shadow effect*/
.content #profil, #formation, #experience {
    margin: 10px;
    padding-top: 1px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 1s ease;
}

/**FORMATION**/
.formationList {
    padding-left: 10px;
    padding-bottom: 1px;
}
.formationList .fBlock {
    position: relative;
    margin-bottom: 10px;
}
    .formationList h3 {
        margin: 0;
        margin-left: 10px;
        margin-bottom: 5px;
    }
    .formationList p {
        padding: 0 20px 2px 15px;
        font-size: 90%;
    }
.line {
    position: absolute;
    left: 3px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: rgba(17, 17, 17);
}


            /****************/
            /*  ANIMATIONS  */
            /****************/

/*Apparition of leftside bar*/
@keyframes leftanimation {
    0% {
        width: 0%;
        height: 0;
        font-size: 0;
    }
    50% {
        width: 65%;
        height: 50px;
        font-size: 0;
    }
    100% {
        width: 65%;
        height: 1500px;
        font-size: normal;
    }
}
    /*Complement*/
    @keyframes leftanimation2 {
        0% {
            border-top: none;
            border-bottom: none;
        }
        50% {
            border-top: none;
            border-bottom: none;
        }
        100% {
            border-top: 2px solid white;
            border-bottom: 2px solid white;
        }
    }

/*Slide of Panel Settings*/
@keyframes panelAnimation {
    0% {
        width: 0;
    }
    100% {
        width: 125px;
    }
}
    /*The button too*/
    @keyframes settingsButtonAnimation {
        0% {
            right: 0;
        }
        100% {
            right: 125px;
        }
    }


            /****************/
            /*  RESPONSIVE  */
            /****************/

/**TABLET/IPAD**/
@media all and (min-width: 600px) {
    body {
        display: flex;
        font-size: 100%;
    }

    /*LEFT SIDE*/
    #sectionLeft {
        width: 30%;
    }
        #leftDesign {
            display: block;
            position: static;
        }
        .leftcontent {
            margin: 0;
            text-align: start;
        }
            #leftDesign #leftImg img {
                display: block;
            }
            .leftcontent #skills {
                margin-top: 15px;
                margin-bottom: 10px;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }


    /*RIGHT SIDE*/
    #sectionRight {
        width: 70%;
        font-size: 110%;
    }
        header {
            height: 200px;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-around;
        }
            header #headerImg img {
                display: none;
            }
            header #firstDivHeader {
                margin-left: 20px;
                padding-top: 35px;
            }
            header #secondDivHeader {
                padding-top: 30px;
            }
            header i {
                margin-right: 10px;
            }
        header .button, .buttonx {
            display: none;
        }
}
/*Details change*/
@media all and (min-width: 700px) {
    #sectionLeft {
        width: 27%;
    }
    #sectionRight {
        width: 73%;
    }
}

/**PC/HIGH FORMAT**/
@media all and (min-width: 800px) {
    body {
        width: 800px;
        margin: auto;
    }
    .settingsButton {
        top: 150px;
        color: black;
        border: 2px solid rgb(0, 0, 0);
    }
}